[push]
	default = current
[pull]
	default = current
[alias]
	# config
	cfg = config --global -e
	
	# start work
	ch = "!f() { git checkout "${1-develop}"; }; f"
	chb = checkout -b
	chp = "!f() { git checkout -b "${1}" && git push; }; f"
	ssa = stash apply
	sspp = stash pop
	
	# stop work
	cm = commit -m
	cma = !git add . && git commit -m
	ssp = stash push -m
	sspa = !git add . && git stash push -m
	brd = branch -d
	
	# remote
	ft = fetch --prune
	pl = pull --prune
	ps = push
	
	# merge
	mg = "!f() { git merge "${1-develop}"; }; f"
	
	# view
	st = status -sb
	lg = log --oneline --graph --decorate --all -n 15
	br = branch --all
	ssl = stash list
